@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Lilita+One&family=Nunito:wght@200&family=Rubik+Puddles&display=swap%27);");
*{
    margin: 0px;
    padding: 0px;
}
/* body{
    font-family: 'Nunito', sans-serif;
} */

.mont{
    display: flex;
    justify-content: space-between;
}
.head {
    width: 100%;
    height: 180px;
    border: 2px solid black;
    background-image: linear-gradient( to left, rgb(182, 200, 182) ,rgb(61, 208, 199));
}
#digital1 {
    margin-left: 50px;
    font-weight: 500;
    font-size: 42px;
}
#digital2{
    margin-left: 50px;
    font-weight: 500;
    font-size: 36px;
}
.kack{
    margin-top: 30px;
    margin-right: 40px;
}
.mack{
    margin-top: 15px;
}
.kack1{
    margin-top: 35px;
    margin-right: 40px;

}
.mack1{
    margin-top: 35px;

}
#ccmm{
    margin-right: 30px;
    color: rgb(43, 0, 255);
}
#mmcc{
    color: rgb(43, 0, 255);
}

#digital3{
    margin-left: 50px;
    font-weight: 500;
    font-size: 36px;
    margin-right: 120px;
}
#tyre{
    display: flex;
}
#myre{
    width: 70%;
}
#vp3{
    width: 100%;
    /* margin: auto; */
    /* border: 10px solid rgb(227, 223, 223); */
    margin-bottom: 30px;
    height: 380px;
    border-bottom: 2px solid grey;
    margin-left: 30px;
    position: relative;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */


}
.bjnj{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    height: 250px;
    margin: auto;
}

.calvin{
    margin: 30px;
    font-size: 20px;
}

.bjnj div img{
    width: 180px;
    height: 210px;
    margin: 20px;
}

.calvin p{
    margin: 10px;
    color: rgb(54, 104, 241);
}
.name,.processor,.temp,.ram,.storage{
    display: inline;
    color: rgb(0, 117, 250);
    font-size: 20px;
}
.toto button{
    /* padding: 5px; */
    font-size: 25px;
    margin: 40px 0px 10px 0px;
    width: 30px;
    border : 1px solid rgb(157, 141, 141);
    border-radius: 5px;
    display: inline;
    background-color: #f2f2f2;
}
#price{
    margin: 50px 70px 0px 0px;
}

.kdkd{
    font-size: 18px;

}

.kdkd1{
    font-size: 15px;

}
.savesave{
    margin-top: 8px;
    padding: 8px;
    background-color: white;
    /* border: 2px solid black; */
    font-size: 15px;
    border-radius: 5px;
}
.savesave:hover{
    background-color: #0060BF;
    color: white;
    cursor: pointer;
    border: none;

}
#klenkeln  img{
    width: 50px;
    height: 50px;
}

.omom{
    /* border: 2px solid red; */
    padding: 5px;
    height: 90px;
    display: flex;
}

.omom div img{
    width: 85%;
    margin-left: 110px;
}
#addadd{
    padding: 10px;
    background-color: #0060BF;
    /* border: 2px solid black; */
    font-size: 15px;
    color: white;
    width: 60px;
    border: none;
    border-radius: 5px;
    margin: 27px 90px 10px 10px;
}

#price img {
    width: 40px;
    height: 40px;
    margin-top: 100px;
}

.priceprice{
    font-size: 19px;
    border : none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    background-color: #006b9d;
    margin-top: -17px;
    margin-left: 5px;
}



/* -----------------------------------------------next part------------------------------------------------------------- */


#vp4{
    width: 21%;
    /* margin: auto; */
    /* border: 2px solid red;  */
    height: 500px;
    margin-left: 80px;
    background-color: #f2f2f2;
    padding: 10px;
    /* position: fixed; */
}
.semsem img{
    width: 100%;
}
.semsem{
    width: 85%;
    display: block;
    margin: auto;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}
.lenlen{
    display: flex;
    justify-content: space-between;

}
.lenlen23 {
    font-size: 18px;
    margin: 20px 0 20px 33px;
}

.lenlen24 {
    font-size: 18px;
    margin: 20px 33px 20px 0;
}

#checkcheck{
    width: 85%;
    display: block;
    margin: auto;
    height: 50px;
    padding: 12px;
    font-size: 21px;
    color: white;
    background: linear-gradient(180deg,#fc5d37 0%,#ed5132 49%,#e64525 100%);
    border: none;
    font-weight: 600;
}

#mkmkmk{
    font-size: 22px;
    font-weight: 700;
}

#nknknk{
    font-size: 22px;
    font-weight: 700;
}
.kkkk img{
    width: 100%;
}
#samesame{
    font-size: 40px;
    padding-top: 50px;
    padding-left: 200px;
}
#ngngng{
    color: #0060BF;
}

#samesame1{
    padding-top: 5px;
    padding-left: 200px;
}


