@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Lilita+One&family=Nunito:wght@200&family=Rubik+Puddles&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
background-repeat: no-repeat;
/* background-color: #004387; */
background-size: cover;
}
#mains{
    display: flex;
    margin: auto;
    margin-top:10vh;
}
#bp{
    margin: 50px;
    background-color: #004387;
    text-align: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 200px;
    color: white;
    font-size: 25px;
    margin-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
#bp a{
    text-decoration: none;
    color: white;
}
#bp img{
    width: 100%;
}
#bp h3{
    margin-top: 100px;
}
#container main h2{
    font-size: 40px;
}
.form-group{
    font-size: 24px;
}
#container{
    margin: 50px;
    background-color:whitesmoke;
    padding: 40px;
    line-height: 44px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 0px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#flname .form-group:nth-child(2){
    padding-inline: 20px;
}
#flname input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
.form-group input{
    width: 420px;
    height: 40px;
    border-radius: 5px;
}
::placeholder{
    font-size: 22px;
    padding-left: 10px;
}
#submit{
    font-size: 28px;
    width: 420px;
    padding-top: 5px;
    margin-top: 20px;
    padding-bottom: 5px;
    font-weight: 900;
    border-radius: 5px;
    background: linear-gradient(180deg,#fc5d37 0%,#ed5132 49%,#e64525);
    color: white;
    border: none;
}
.btns{
    font-size: 25px;
    width: 420px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid gray;

}
#or ,#forgot{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
body{
    display: flex;
    flex-flow: column;
    /* height: 100vh; */
    /* caret-color: #A0CD4A; */
}
    #flname{
        display: flex;
    }
    #fb{
        color: white;
        font-size: 24px;
        text-align: center;
    }
    #footer{
        display: flex;
       justify-content: center;
    }
    #footer div{
        margin-top: 50px;
        padding:22px;
        color: white;
        font-size: 20px;
        font-weight: bolder;
    }
    #boxes{
        color: rgb(4, 17, 190);
        margin-top: 25px;
        line-height: 30px;
        font-size: 18px;
        font-weight: 600;
    }
    input{
        font-size: 25px;
        font-weight: 600f;
    }
    button:hover{
        cursor: pointer;
    }
    #mains a:hover{
text-decoration: underline;
    }