
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Lilita+One&family=Nunito:wght@200&family=Rubik+Puddles&display=swap%27");

body{
    font-family: 'Nunito', sans-serif;
}


*{
    margin:0px;
    padding: 0px;
}


#one{
    background-color: #011d38;
    text-align: center;
    color: white;
   
    
}


#two{
    display: flex;
    margin-top: 5px;
    padding-left: 20px;
    justify-content: space-between;
}
.left{
    display:flex

}
.left>a{
    margin-top: 5px;
    text-decoration: none;
    padding-left: 20px;
    font-size: 10px;
    text-decoration: none;
    color:#004387
    

}
#right{
 margin-top: 4px;
    display: flex;
gap:10px;
justify-content: space-between;
    
    font-size: 12px;
    margin-left: 100px;
   
}

#right>div>img{
    width: 20%;
  
}
#right :nth-child(1){
    display: flex;
    gap: 7px;
}
#right :nth-child(2){
    display: flex;
    gap: 7px;
}
#right :nth-child(3){
    display: flex;
    gap: 7px;
}
/* two upper div finish 

agin push*/

/* main nav start here */
#mainnav{
    background-color: #004387;
    display: flex;
    justify-content: space-between;
}

#logo>img{
    margin-top: 5px;
    width: 50%;
    margin-left: 20px;

}

#mainright{
    display: flex;
}
#mainright>div>#in{
   margin-top: 40px;
    height: 30px;
    width: 400px;
    border-radius: 50px 50px 50px 50px;
    border: none;
    font-size: 18px;

}

::placeholder{
   padding-left: 20px;
   
}
#mainright>div{
    margin-left: 40px;
}
#mainright>div>#cart{
    width: 50%;
    margin-top: 10px;
}
#userside{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

/* fourth part start hover here */

#part4nav{
    display: flex;
    justify-content: space-between;
    background-color: #004387;
  margin-top: 1px;
}
#leftforhover{
    display: flex;
    
}
#leftforhover>div{
    margin-left: 30px;
    font-size: 20px;
    color: white;
}
#rightforhover{
    display: flex;
    margin-right: 30px;
    
}
#rightforhover>a{
    margin-left: 20px;
    margin-top: 8px;
    font-size:15px;
    color: white;
    text-decoration: none;
}

/* swiper start here */

/* #bigimage>img{
    width: 100%;
} */

.swiper-slide img{
 width: 100%;
}

#specialdeal{
    margin-top: 25px;
    display: flex;
    background-color: #004387;
    height: 120px;
}
#specialdeal>div{
    margin: auto;
    margin-left: 35px;
}


/* timer code */
#div2{
   
    display: flex;
    width: 900px;
    height: 100px;
    background-color: aliceblue;
   
}

.review-count{
    display: inline;
   
    position: relative;
    top: -3px;
 
 }
 .cartbtn{
    margin-top: 8%;
    width: 35%;
  
  color: #ffffff;
  cursor: pointer;
    background-color: #2d1152;
    
    border: none;
   
    
    text-align: center;
  
 
 }
 #count-down{
    
    color: white;
    text-align: center;
    box-shadow: rgba(52, 52, 207, 0.2) 0px 7px 29px 0px;
    background-color: rgb(79, 76, 76);
 }
 .timer-cont{
    /* display: flex ; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgb(55, 43, 43);
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 20px;
 }
 #time{
    margin: auto;
    /* text-align: center; */
    justify-content: center;
 }

 /* end timer */

#sign1>h5{
    color: white; 
    width: 100px;
}

#sign1>h6{
    color: white; 
}
#cart1{
    

    margin-left: 50px;
    height: 30px;
    margin-top: 10px;
}
#sign1{
    margin-top: 5px;
    margin-left: -5px;
    width: 50px;
}
#part4nav{
    height: 35px;
}
#leftforhover>div{
    font-size: 15px;
    margin-top: 7px;
}

#perent1{
    margin-top: 25px;
    background-color: #004387;
    height: 500px;
}
#one1{
    display: flex;
    padding-top: 10px;

}

#one1>h1{
    margin-right: 450px;
}
#cup{
    margin-left: 500px;
    width: 3%;
}

#divimg{
    width: 10%;
}
#deal{
    margin-top: 10px;
    background-color: aliceblue;
    
}
#two2{
    display: flex;
    gap: 15px;

}
#two2>div{
    width: 16%;
    margin-left: 5px;
    background-color: white;
   padding: 1.3%;
    margin-top: 20px;
}
#two2>div>a{
    font-size: 13px;
    
   
}
#useflextop{
    display: flex;
    
}

/* shop category */

#category{
    display: flex;
    gap: 10px;
    margin: 10px ;
}
#category img{
    background: transparent radial-gradient(closest-side at 50% 50%, #014B96 0%, #003773 100%) 0% 0% no-repeat padding-box;
      border-radius: 5px;
      width: 90px;
      padding: 5px;
}
#category h3{
text-align: center;
}

#insprireddiv{
    display: flex;
    margin-top: 10px;
    
}
#insprireddiv>div{
    width: 195px;
    margin-left: 10px;
    
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}
#useflexrate{
    display: flex;
    
}
#insprireddiv>div>a{
    text-decoration: none;
    font-size: 13px;
}
#insprireddiv>div>img{
    width: 70%;
    margin-left: 30px;
}
#imgbig{
    margin-top: 50px;
}

#imgbig>img{
    width: 100%;
}

#bigimgflexuse{
    display: flex;
    margin-top: 30px;
   
    
}
#bigimgflexuse>div{
    margin-left: 10px;
  
   
}
#bigimgflexuse>div>img{
    width: 98%;
}
#textonimg{
    display: flex;
    margin-top: 30px;
    
    }

    #textonimg>div>div>img{
        width: 98%;
    }
    #textonimg>div{
        margin-left: 10px;
    }



    #textonimg1{
        display: flex;
        margin-top: 100px;
        
        }
    
        #textonimg1>div>div>img{
            width: 98%;
        }
        #textonimg1>div{
            margin-left: 10px;
        }


        #textonimg2{
            display: flex;
            margin-top: 120px;
            gap: 20px;
            
            }
        
          #pankaj{
            width: 48.8%;
            margin-left: 10px;
          } 
          #pankaj1{
            width: 48%; 
           }
       
          #pankaj >div> img{
            width: 100%;
            height: 310px;
          }
          #pankaj1>div> img{
            width: 100%;
            height: 310px;
          }

          #logodiv{
            display: flex;
          }

          #logodiv>div{
            margin-top: 0.5%;
            width: 12%;
            margin-left: 1%;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          }

          #logodiv>div>img{
             width: 70%;
             padding: 5%;
             
          }

          #youtubelink{
            display: flex;
            margin-top: 1%;
          }
        #youtubelink div{
   margin-left: 8%;
        }

        #lastimg{
            display: flex;
            margin-top: 1%;
        }

        #lastimg>div{
            margin-left: 1%;
        }

        #lastimg>div>img{
            width: 100%;
        }

        #fluttertext{
            margin-top: 5%;
            height: 300px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
        #fluttertext>div{
            margin-top: 1%;
            text-align: center;
            font-size: 18px;
        }



        /* flutter */

        #mychangef{
            margin-top: 5%;
        }

        #f1{
            padding: 35px;
            text-align: center;
            color: whitesmoke;
            background: #004387;
            font-size: 3ch;
            font-weight: 500;
        }
        #f2{
            display: flex;
            justify-content: space-evenly;
            padding: 35px;
            font-size: 2.5ch;
        }
        #f2>p:hover{
            color: #0454a4;
           
        }
        #f3{
            background-color: #ffffff;
            display: flex;
            text-align: center;
            padding: 50px;
            gap: 30px;
        }
        .social>img{
            width: 40px;
        }
        #f4{
            display: flex;
            text-align: center;
            justify-content: space-evenly;
        }
        #f4 a{
            
            display: block;
            /* padding: 50px 10px; */
            margin: 0.25px 0px;
            /* margin-top: 3%; */
            color: #0d71dc;
            text-decoration: none;
        }
        #f4 a:hover{
            /* color: #004387; */
            text-decoration: underline;
        }
        button{
            background:#004387;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px;
        }
        #f5{
            margin-top: 10px;
            background:#004387;
            text-align: center;
            color: whitesmoke;
            padding: 10px ;
        }
        
        #f6{
            display: flex;
            gap: 50px;
            margin: 50px;
        }
        
    
    






